/* style.css */

body {
    font-family: sans-serif;
    text-align: center;
  }
  
  h1 {
    font-size: 4rem;
    margin-bottom: 2rem;
  }
  
  form {
    margin-bottom: 2rem;
  }
  
  label {
    font-size: 2rem;
  }
  
  input {
    font-size: 2rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: none;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
  }
  
  button {
    font-size: 2rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  #greeting {
    font-size: 2rem;
    margin-top: 2rem;
  }